{% extends "index.html" %}

{% block facinatorbody %}

<div class="question-container">
    <p class="question">In which program you are enrolled in the University ?</p>
    <select>
    <option disabled selected>Program</option>
    <option value="BTech">BTech</option>
    <option value="MTech">MTech</option>
    <option value="MBA">MBA</option>
    <option value="Planning">Planning</option>
    </select>
</div>

<div class="question-container">
    <p class="question">What is your year of Study ?</p>
    <select>
    <option disabled selected>Year</option>
    <option value="FY">First Year</option>
    <option value="SY">Second Year</option>
    <option value="TY">Third Year</option>
    <option value="Fourth">BTech Year</option>
    </select>
</div>

<div class="question-container">
    <p class="question">Is it an odd or an even Semester ?</p>
    <select>
    <option disabled selected>Odd/Even</option>
    <option value="odd">ODD</option>
    <option value="even">EVEN</option>
    </select>
</div>

<div class="question-container">
    <p class="question">Select school of Engineering.</p>
    <select>
    <option disabled selected>Group</option>
    <option value="e-group">E-Group</option>
    <option value="m-group">M-Group</option>
    </select>
</div>

<div class="question-container">
    <p class="question">Select the course you need help with:</p>
    <select>
    <option disabled selected>Course</option>
    <option value="uvc">Univariate Calculus(UVC)</option>
    <option value="bee">Basic Electrical Engineering(BEE)</option>
    <option value="spe">Semiconductor Physics and Electromagnetism(SPE)</option>
    <option value="egd">Engineering Graphics and Design(EGD)</option>
    <option value="em">Engineering Mechanics(EM)</option>
    </select>
</div>

<div class="question-container">
    <p class="question">You may approach one of these faculty</p>
    <select>
    <option disabled selected>Faculty</option>
    <option value="PralhadShinde">Dr. Pralhad Shinde</option>
    <option value="NeetaShinde">Dr. Neeta Shinde</option>
    <option value="RashmiKulkarni">Dr. Rashmi Kulkarni</option>
    </select>
</div>



        {% block submit %}
        {% endblock %}


{% endblock %}
