{% extends "loginlayout.html" %}


{% block form %}

<div class="login-box">
    <p class="login-title">Login !</p>
    <form action="" method="post" class="form">
      <div class="user-box">
        <input type="text" name="username" value="{{
          request.form.username }}" placeholder="username" class="user-field">
      </div>
      <div class="user-box">
        <input type="text" name="mis" value="{{
          request.form.mis }}" placeholder="MIS" class="user-field">
      </div>
      <div class="user-box">
        <input type="password" name="password" value="{{
          request.form.password }}" placeholder="Password" class="user-field">
      </div>
      <input class="btn" type="submit" value="Play">
      
      {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </form>
    <p>Don't have an account? <a href="/register" class="a2">Sign up !</a></p>
  </div>

{% endblock form %}

