{% extends "layout2.html" %}


{% block content %}

            {% for i in items %}

                <div class="card">
                    <div class="card-info">
                        <div class="card-avatar"></div>
                        <div class="card-title">{{ i[1] }}</div>
                        <div class="card-subtitle">{{ i[6] }}</div>

                        <form action="{{ url_for('mail') }}" class="card-social__item card-social" method="post">
                            <input type="submit" name="id" id="id" class="btn btn-primary mail" value="{{ i[2] }}">
                        </form>

                    </div> 
                </div>

            {% endfor %}


{% endblock %}